<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Меню ресторана</title>
    <style>
        .menu-container { display: flex; flex-wrap: wrap; gap: 20px; padding: 20px; }
        .MenuItem-card { border: 1px solid #ddd; padding: 15px; border-radius: 8px; width: 200px; text-align: center; }
        .price { font-weight: bold; color: green; }
    </style>
</head>
<body>
<nav th:insert="~{fragments/navbar :: nav}"></nav>  <!-- ← добавь эту строку -->

<h1>Наше Меню</h1>

<div class="menu-container">
    <div class="MenuItem-card" th:each="MenuItem : ${MenuItem}">
        <h3 th:text="${MenuItem.name}">Название блюда</h3>
        <p th:text="${MenuItem.description}">Описание блюда...</p>
        <p class="price" th:text="${MenuItem.price} + ' ₸'">Цена</p>

        <form th:action="@{/orders/add}" method="post">
            <input type="hidden" name="itemId" th:value="${MenuItem.id}" />
            <button type="submit">Заказать</button>
        </form>

        <form sec:authorize="hasRole('ADMIN')"
              th:action="@{/admin/dishes/delete/{id}(id=${MenuItem.id})}"
              method="post"
              onsubmit="return confirm('Удалить блюдо?')">
            <button type="submit" class="btn-delete">Удалить</button>
        </form>
    </div>
</div>

<div th:if="${#lists.isEmpty(MenuItem)}">
    <p>Меню пока пусто. Зайдите позже!</p>
</div>
</body>
</html>